*tags
*~
src/yarrrclient
src/yarrrshipyard
src/*.a
package
package_version
share
_CPack*
*log
*.deb
*core*
*swp
*.cmake
*.core
Makefile
CMakeFiles
CMakeCache.txt
build
install_manifest.txt
test/test_runner
test/valgrind.log
